
.opt-out-generator .select2 {
	style: block;
	width: 100%;
}
.opt-out-generator form {
	position: relative;
}
.opt-out-generator .hidden {
	display: none;
}

.opt-out-generator input.error {
	background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.opt-out-generator i.error {
    display: block;
    color: #9f3a38;
}
.opt-out-generator div.error {
    margin: 1em 0;
    padding: 1em 1.5em;
    border-radius: .3rem;
	background-color: #ffe8e6;
    color: #9f3a38;
    border: 1px solid #9f3a38;
}
.opt-out-generator div.opt-out-generator-hinweis {
    background-color: #2185d0;
    color: #fff;
    margin: 1rem -1rem;
    padding: 1rem 1rem;
    border-radius: .3rem;
}
.opt-out-generator div.opt-out-generator-hinweis > p:first-child {
    margin-top: 0;
}
.opt-out-generator div.opt-out-generator-hinweis > p:last-child {
    margin-bottom: 0;
}
.opt-out-generator div.opt-out-generator-hinweis .checkmark {
    position:relative;
    display:inline-block;
    width: 1.5em;
}
.opt-out-generator div.opt-out-generator-hinweis .checkmark:after{
    content: '';
    display: block;
    width: .4em;
    height: .8em;
    border: solid #090;
    border-width: 0 .4em .4em 0;
    transform: rotate(45deg);
    margin-left: .5em;
}
.opt-out-generator div.opt-out-generator-hinweis .crossmark {
    width: 1em;
    position:relative;
    display:inline-block;
}
.opt-out-generator div.opt-out-generator-hinweis .crossmark:after {
    position: absolute;
    content: '';
    display: block;
    width: 1em;
    height: 0px;
    border: solid #E00;
    border-width: 0 0px .4em 0;
    transform: rotate(45deg);
    left: 0;
    top: -.5em;
}
.opt-out-generator div.opt-out-generator-hinweis .crossmark:before {
    position: absolute;
    content: '';
    display: block;
    width: 1em;
    height: 0px;
    border: solid #E00;
    border-width: 0 0px .4em 0;
    transform: rotate(-45deg);
    left: 0;
    top: -.5em;
}


.opt-out-generator .actions {
    display: flex;
    justify-content: space-between;
	margin-top: 20px;
    gap: 10px;
}